{%  extends 'base.html' %}
{% block content %}
<h1>Posts By - {{view.kwargs.username}} <h3 class="text-muted">Total posts - {{page_obj.paginator.count}} </h3></h1>

{% for i in posts %}
<div class="card" style="margin-bottom: 15px;">
    <div class="card-body" >
      
        <small style="display:inline;float:right;">Post created: {{i.date|date:"F d,Y h:m:s "}}</small>
        <a href='post/{{i.id}}'><h3 class="card-title">{{i.title}}</h3></a>

        <p class="card-text">{{i.content}}</p>
        <small>Written By</small>
        <a href="{% url 'user-post' i.author.username %}"><small>{{i.author.username}}</small></a>
        <img src={{i.author.profile.image.url}} alt="none" class="rounded-circle" height=70 width =70 style="display: inline;float:right;">
        {% if request.user == i.author %}
        <a href='/post/{{i.id}}/update/' class='btn btn-outline-primary card-text'>Update Post</a>
        <a href='/post/{{i.id}}/delete/' class='btn btn-outline-danger card-item'>Delete Post</a>
        {% endif %}
      </div>
</div>
{% endfor %}

{% if is_paginated %}

<ul class="pagination justify-content-center my-3">

{% if page_obj.has_previous %}

<li class="page-item"><a class="page-link" href="?page=1">First</a></li>
<li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">&#8810</a></li>

{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <li class="page-item"><a class="page-link bg-light" href="?page={{num}}">{{num}}</a></li>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
  {% endif %}
  {% endfor %}

{% if page_obj.has_next %}

  <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">&#8811</a></li>
  <li class="page-item"><a class="page-link" href="?page={{page_obj.paginator.num_pages}}">Last</a></li>
  
{% endif %}

</ul>
{% endif %}
{% endblock %}
