{% extends 'base.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<form action="" method='POST'>
    {% csrf_token %}
    <h1 class="text-muted">Are you Sure you want to Logout</h1>
    <br>
    <button class='btn btn-primary'>Yes</button>
    <a href="/" class='btn btn-danger'>No</a>
</form>
{% elif set_by_post %}
<h1 class="text text-primary">You have succesfully logged out!</h1>
<small class="text text-muted">Login again?<a href="{% url 'login' %}" class="text text-primary ml-2">Click here</a></small>
{% else %}
You are not authorized to view this content
{% endif %}
{% endblock %}

