{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
    <div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group" style="max-width:40%;margin-left: auto;margin-right: auto;border:1px solid green">
        <legend>Reset Password</legend>
        <hr>
        {{form|crispy}}
        
        </fieldset>
        <input type="submit" value="Password-reset" class="btn btn-outline-info">
    </form>
    </div>
  
{% endblock %}